# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.egg
.venv/
venv/
*.db

# Node
node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env
.env.local
*.env.local

# OS
.DS_Store
Thumbs.db

# Coverage
htmlcov/
.coverage
coverage/

# Docker
.docker/
